<div class="layui-tab layui-tab-fixed layui-tab-brief">
  <ul class="layui-tab-title">
    <li class="layui-this">Configure KSpread...</li>
  </ul>
  <div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
    	<form class="layui-form editor-form-node">
			<div class="layui-row">
				<div class="layui-col-md4">
					<div class="layui-form-item">
						<label class="layui-form-label">Question Name</label>
						<div class="layui-input-block">
							<input type="text" name="value" placeholder="Please enter the first alternative name" value="{{=d.value}}" autocomplete="off" class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="layui-form-item">
						<label class="layui-form-label">Number or Set</label>
						<div class="layui-input-block" codemirror="loopCount" placeholder="Enter the number of cycles or the set here." data-value="{{=d.data.object.loopCount}}"></div>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="layui-form-item">
						<label class="layui-form-label">Cycle Variable</label>
						<div class="layui-input-block">
							<input type="text" name="loopItem" placeholder="Please enter a loop variable(Defaultitem)" autocomplete="off" class="layui-input input-default" value="{{=d.data.object.loopItem}}">
						</div>
					</div>
				</div>
			</div>
			<div class="layui-row">
				<div class="layui-col-md4">
					<div class="layui-form-item">
						<label class="layui-form-label">Subscript Variable</label>
						<div class="layui-input-block">
							<input type="text" name="loopVariableName" placeholder="Please enter subtitle language" autocomplete="off" class="layui-input input-default" value="{{=d.data.object.loopVariableName}}">
						</div>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="layui-form-item">
						<label class="layui-form-label">Start position</label>
						<div class="layui-input-block" codemirror="loopStart" placeholder="Enter the number of cycles" data-value="{{=d.data.object.loopStart || '0'}}"></div>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="layui-form-item">
						<label class="layui-form-label">End Location</label>
						<div class="layui-input-block" codemirror="loopEnd" placeholder="Enter the number of cycles" data-value="{{=d.data.object.loopEnd || -1}}"></div>
					</div>
				</div>
			</div>
    	</form>
    </div>
  </div>
</div>