<div class="layui-tab layui-tab-fixed layui-tab-brief">
  <ul class="layui-tab-title">
    <li class="layui-this">基本配置</li>
    <li>Parameters</li>
	<li>Cookie</li>
    <li>Header</li>
    <li>Body</li>
  </ul>
  <div class="layui-tab-content editor-form-node">
    <div class="layui-tab-item layui-show">
    	<form class="layui-form">
			<div class="layui-row">
				<div class="layui-col-md4">
					<div class="layui-form-item">
						<label class="layui-form-label">Question Name</label>
						<div class="layui-input-block">
							<input type="text" name="value" placeholder="Please enter the first alternative name" value="{{=d.value}}" autocomplete="off" class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="layui-form-item">
						<label class="layui-form-label">Cycle Variable</label>
						<div class="layui-input-block">
							<input type="text" name="loopVariableName" placeholder="Please enter a loop variable" autocomplete="off" class="layui-input input-default" value="{{=d.data.object.loopVariableName}}">
						</div>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="layui-form-item">
						<label class="layui-form-label">Number of cycles</label>
						<div class="layui-input-block" codemirror="loopCount" placeholder="Enter the number of cycles" data-value="{{=d.data.object.loopCount}}"></div>
					</div>
				</div>
			</div>
			<div class="layui-row">
				<div class="layui-col-md2">
					<div class="layui-form-item">
						<label class="layui-form-label">Request Method</label>
						<div class="layui-input-block">
							<select name="method">
								<option value="GET" {{d.data.object.method == 'GET' ? 'selected':''}}>GET</option>
								<option value="POST" {{d.data.object.method == 'POST' ? 'selected':''}}>POST</option>
								<option value="PUT" {{d.data.object.method == 'PUT' ? 'selected':''}}>PUT</option>
								<option value="DELETE" {{d.data.object.method == 'DELETE' ? 'selected':''}}>DELETE</option>
								<option value="PATCH" {{d.data.object.method == 'PATCH' ? 'selected':''}}>PATCH</option>
								<option value="HEAD" {{d.data.object.method == 'HEAD' ? 'selected':''}}>HEAD</option>
								<option value="OPTIONS" {{d.data.object.method == 'OPTIONS' ? 'selected':''}}>OPTIONS</option>
								<option value="TRACE" {{d.data.object.method == 'TRACE' ? 'selected':''}}>TRACE</option>
							</select>
						</div>
					</div>
				</div>
				<div class="layui-col-md10">
					<div class="layui-form-item">
						<label class="layui-form-label">URL</label>
						<div class="layui-input-block" codemirror="url" data-value="{{=d.data.object.url}}"></div>
					</div>
				</div>
			</div>
			<div class="layui-row">
				<div class="layui-col-md4">
					<div class="layui-form-item">
						<label class="layui-form-label">Delay time</label>
						<div class="layui-input-block">
							<input type="text" name="sleep" placeholder="Please enter the delay time" autocomplete="off" class="layui-input input-default" value="{{=d.data.object.sleep}}">
						</div>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="layui-form-item">
						<label class="layui-form-label">Time Elapsed</label>
						<div class="layui-input-block">
							<input type="text" name="timeout" placeholder="Please enter the overtime hours" autocomplete="off" class="layui-input input-default" value="{{=d.data.object.timeout}}">
						</div>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="layui-form-item">
						<label class="layui-form-label">The page code of the page you are looking at.</label>
						<div class="layui-input-block">
							<input type="text" name="response-charset" placeholder="Please enter the page code" autocomplete="off" class="layui-input input-default" value="{{=d.data.object['response-charset']}}">
						</div>
					</div>
				</div>
			</div>
			<div class="layui-row">
				<div class="layui-col-md4">
					<div class="layui-form-item">
						<label class="layui-form-label">Retry Count</label>
						<div class="layui-input-block">
							<input type="text" name="retryCount" placeholder="Please enter the number of retries" autocomplete="off" class="layui-input input-default" value="{{=d.data.object.retryCount}}">
						</div>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="layui-form-item">
						<label class="layui-form-label">Retry delay</label>
						<div class="layui-input-block">
							<input type="text" name="retryInterval" placeholder="Please enter the retry delay" autocomplete="off" class="layui-input input-default" value="{{=d.data.object.retryInterval}}">
						</div>
					</div>
				</div>
			</div>
			<div class="layui-row">
				<div class="layui-col-md4">
					<div class="layui-form-item">
						<label class="layui-form-label">代理</label>
						<div class="layui-input-block" placeholder="host:port" codemirror="proxy" data-value="{{=d.data.object.proxy}}"></div>
					</div>
				</div>
				<div class="layui-col-md8">
					<div class="layui-form-item">
						<label class="layui-form-label">Request Settings</label>
						<div class="layui-input-block">
							<input type="checkbox" title="Follow Up" value="follow-redirect" lay-skin="primary" {{d.data.object['follow-redirect'] == '0' ? '' : 'checked'}}/>
							<input type="checkbox" title="TLSCertificate Authentication" value="tls-validate" lay-skin="primary" {{d.data.object['tls-validate'] == '0' ? '' : 'checked'}}/>
							<input type="checkbox" title="Auto ManagementCookie" value="cookie-auto-set" lay-skin="primary" {{d.data.object['cookie-auto-set'] == '0' ? '' : 'checked'}}/>
							<input type="checkbox" title="Auto-away" value="repeat-enable" lay-skin="primary" {{d.data.object['repeat-enable'] == '1' ? 'checked' : ''}}/>
						</div>
					</div>
				</div>
			</div>

    	</form>
    </div>
    <div class="layui-tab-item">
    	<form class="layui-form">
			<table class="layui-table" id="request-parameter" data-cell="{{=d.cell.id}}" data-keys="parameter-name,parameter-value,parameter-description"></table>
	   		<div id="addParamterBtn" class="layui-form-item">
	   			<div class="layui-input-inline">
	    			<button class="layui-btn table-row-add" type="button" for="request-parameter">Add a parameter</button>
	    		</div>
				<div class="layui-input-inline">
					<button class="layui-btn parameter-batch" type="button" for="request-parameter"> Bulk Setup Parameters</button>
				</div>
			</div>
    	</form>
    </div>
	  <div class="layui-tab-item">
		  <form class="layui-form">
			  <table class="layui-table" id="request-cookie" data-cell="{{=d.cell.id}}" data-keys="cookie-name,cookie-value,cookie-description"></table>
			  <div id="addCookieBtn" class="layui-form-item">
				  <div class="layui-input-inline">
					  <button class="layui-btn table-row-add" type="button" for="request-cookie">Add OneCookie</button>
				  </div>
				  <div class="layui-input-inline">
					  <button class="layui-btn cookie-batch" type="button" for="request-cookie"> Bulk SettingsCookie</button>
				  </div>
			  </div>
		  </form>
	  </div>
    <div class="layui-tab-item">
    	<form class="layui-form">
			<table class="layui-table" id="request-header" data-cell="{{=d.cell.id}}" data-keys="header-name,header-value,header-description"></table>
	   		<div id="addHeaderBtn" class="layui-form-item">
	   			<div class="layui-input-inline">
	    			<button class="layui-btn table-row-add" type="button" for="request-header">Add OneHeader</button>
	    		</div>
				<div class="layui-input-inline">
					<button class="layui-btn header-batch" type="button" for="request-header"> Bulk SettingsHeader</button>
				</div>
			</div>
	    </form>
    </div>
  	
  	<div class="layui-tab-item">
    	<form class="layui-form">
    		<div class="layui-form-item">
    			<label class="layui-form-label">Type</label>
    			<div class="layui-input-block">
    				<select name="body-type" lay-filter="bodyType">
	    				<option value="none" {{d.data.object['body-type'] == 'none' ? 'selected':''}}>none</option>
	   					<option value="form-data" {{d.data.object['body-type'] == 'form-data' ? 'selected':''}}>form-data</option>
	   					<option value="raw" {{d.data.object['body-type'] == 'raw' ? 'selected':''}}>raw</option>
   					</select>
    			</div>
    		</div>
    		<div  class="form-body-raw" {{d.data.object['body-type'] != 'raw' ? 'style="display:none;"':''}}>
	    		<div class="layui-form-item">
	    			<label class="layui-form-label">Content-Type</label>
	    			<div class="layui-input-block">
	    				<select name="body-content-type">
		    				<option value="text/plain" {{d.data.object['body-content-type'] == 'text/plain' ? 'selected':''}}>text/plain</option>
		   					<option value="application/json" {{d.data.object['body-content-type'] == 'application/json' ? 'selected':''}}>application/json</option>
	   					</select>
	    			</div>
	    		</div>
	    		<div class="layui-form-item">
	    			<label class="layui-form-label">内容</label>
	    			<div class="layui-input-block" style="height:200px;" placeholder="Please enter the following text:" codemirror="request-body" data-value="{{=d.data.object['request-body']}}"></div>
	    		</div>
    		</div>
    		<div class="form-body-form-data" {{d.data.object['body-type'] != 'form-data' ? 'style="display:none;"':''}}>
	  			<table class="layui-table" id="body-parameter" data-cell="{{=d.cell.id}}" data-keys="parameter-form-name,parameter-form-value,parameter-form-type,parameter-form-filename,parameter-form-description"></table>
	    		<div class="layui-form-item">
		   			<div class="layui-input-inline">
		    			<button class="layui-btn table-row-add" type="button" for="body-parameter">Add a parameter</button>
		    		</div>
		    	</div>
    		</div>
	    </form>
    </div>
  </div>
</div>
<script>
	$(function(){
		function renderRequestParameter(data){
			layui.table.render({
				elem : '#request-parameter',
				limit: 50,
				cols : [[{
					title : 'Parameter name',
					width : 150,
					templet : '#parameter-name-tmpl'
				},{
					title : 'Parameter Value',
					templet : '#parameter-value-tmpl'
				},{
					title : 'Description of the parameters',
					width : 250,
					templet : '#parameter-description-tmpl'
				},{
					title : 'Operation',
					width : 120,
					align : 'center',
					templet : '#common-operation'
				}]],
				data : data,
				text : {
					none : 'No parameters set yet'
				}
			})
		}
		function renderRequestCookie(data){
			layui.table.render({
				elem : '#request-cookie',
				limit: 50,
				cols : [[{
					title : 'CookieName',
					width : 150,
					templet : '#cookie-name-tmpl'
				},{
					title : 'CookieTranslate the following text to english',
					templet : '#cookie-value-tmpl'
				},{
					title : 'Description',
					width : 250,
					templet : '#cookie-description-tmpl'
				},{
					title : 'Operation',
					width : 120,
					align : 'center',
					templet : '#common-operation'
				}]],
				data : data,
				text : {
					none : ' (none)Cookie'
				}
			})
		}

		function renderRequestHeader(data){
			layui.table.render({
				elem : '#request-header',
				limit: 50,
				cols : [[{
					title : 'HeaderName',
					width : 150,
					templet : '#header-name-tmpl'
				},{
					title : 'headerTranslate the following text to english',
					minWidth : 400,
					templet : '#header-value-tmpl'
				},{
					title : 'Description',
					width : 250,
					templet : '#header-description-tmpl'
				},{
					title : 'Operation',
					width : 120,
					align : 'center',
					templet : '#common-operation'
				}]],
				data : data,
				text : {
					none : ' (none)Header'
				}
			})
		}
		function renderBodyParameter(data){
			layui.table.render({
				elem : '#body-parameter',
				cols : [[{
					title : 'Parameter name',
					width : 150,
					templet : '#parameter-from-name-tmpl'
				},{
					title : 'Parameter type',
					width : 85,
					templet : '#parameter-from-type-tmpl'
				},{
					title : 'File name',
					width : 195,
					templet : '#parameter-from-filename-tmpl'
				},{
					title : 'Parameter Value',
					templet : '#parameter-from-value-tmpl'
				},{
					title : 'Description of the parameters',
					width : 250,
					templet : '#parameter-from-description-tmpl'
				},{
					title : 'Operation',
					width : 120,
					align : 'center',
					templet : '#common-operation'
				}]],
				data : data,
				text : {
					none : 'No parameters set yet'
				}
			})
		}
		renderRequestParameter(getCellData({{d.cell.id}},$("#request-parameter").data('keys').split(",")));
		renderRequestCookie(getCellData({{d.cell.id}},$("#request-cookie").data('keys').split(",")));
		renderRequestHeader(getCellData({{d.cell.id}},$("#request-header").data('keys').split(",")));
		renderBodyParameter(getCellData({{d.cell.id}},$("#body-parameter").data('keys').split(",")));
	});
</script>