<div class="layui-tab layui-tab-fixed layui-tab-brief">
  <ul class="layui-tab-title">
    <li class="layui-this">Configuration</li>
    <li>Global Parameters</li>
	<li>GlobalCookie</li>
    <li>GlobalHeader</li>
  </ul>
  <div class="layui-tab-content editor-form-node">
    <div class="layui-tab-item layui-show">
    	<form class="layui-form layui-row">
			<div class="layui-col-md4">
				<label class="layui-form-label">Crawler name</label>
				<div class="layui-input-block">
					<input type="text" name="spiderName" placeholder="Please enter the name of the article" autocomplete="off" class="layui-input" value="{{d.data.object.spiderName || 'Definition'}}">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="layui-form-label">Submit Strategy</label>
				<div class="layui-input-block">
					<select name="submit-strategy">
						<option value="random" {{d.data.object['submit-strategy'] == 'random' ? 'selected':''}}>Random</option>
						<option value="linked" {{d.data.object['submit-strategy'] == 'linked' ? 'selected':''}}>Sequence</option>
						<option value="child"  {{d.data.object['submit-strategy'] == 'child'  ? 'selected':''}}>Priority</option>
						<option value="parent" {{d.data.object['submit-strategy'] == 'parent' ? 'selected':''}}>Answer:Parent Preference</option>
					</select>
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="layui-form-label">Maximum number of threads</label>
				<div class="layui-input-block">
					<input type="number" min="1" name="threadCount" placeholder="Please enter the number of threads" autocomplete="off" class="layui-input" value="{{=d.data.object.threadCount}}">
				</div>
			</div>
    	</form>
    </div>
    <div class="layui-tab-item">
   		<form class="layui-form">
			<table class="layui-table" id="global-parameter" data-cell="{{=d.cell.id}}" data-keys="parameter-name,parameter-value,parameter-description"></table>
	   		<div class="layui-form-item">
	   			<div class="layui-input-inline">
	    			<button class="layui-btn table-row-add" type="button" for="global-parameter">Add a parameter</button>
	    		</div>
				<div class="layui-input-inline">
					<button class="layui-btn parameter-batch" type="button" for="global-parameter"> Bulk Setup Parameters</button>
				</div>
	    	</div>
	    </form>
    </div>
	<div class="layui-tab-item">
	  <form class="layui-form">
		  <table class="layui-table" id="global-cookie" data-cell="{{=d.cell.id}}" data-keys="cookie-name,cookie-value,cookie-description"></table>
		  <div id="addCookieBtn" class="layui-form-item">
			  <div class="layui-input-inline">
				  <button class="layui-btn table-row-add" type="button" for="global-cookie">Add OneCookie</button>
			  </div>
			  <div class="layui-input-inline">
				  <button class="layui-btn cookie-batch" type="button" for="global-cookie"> Bulk SettingsCookie</button>
			  </div>
		  </div>
	  </form>
	</div>
    <div class="layui-tab-item">
   		<form class="layui-form">
			<table class="layui-table" id="global-header" data-cell="{{=d.cell.id}}" data-keys="header-name,header-value,header-description"></table>
			<div class="layui-input-inline">
				<button class="layui-btn table-row-add" type="button" for="global-header">Add OneHeader</button>
			</div>
			<div class="layui-input-inline">
				<button class="layui-btn header-batch" type="button" for="global-header"> Bulk SettingsHeader</button>
			</div>
	    </form>
    </div>
  </div>
</div>
<script>
	function renderGlobalParameter(data){
		layui.table.render({
			elem : '#global-parameter',
			limit: 50,
			cols : [[{
				title : 'Parameter name',
				width : 150,
				templet : '#parameter-name-tmpl'
			},{
				title : 'Parameter Value',
				templet : '#parameter-value-tmpl'
			},{
				title : 'Description of the parameters',
				width : 250,
				templet : '#parameter-description-tmpl'
			},{
				title : 'Operation',
				width : 120,
				align : 'center',
				templet : '#common-operation'
			}]],
			data : data,
			text : {
				none : 'No parameters set yet'
			}
		})
	}
	function renderGlobalCookie(data){
		layui.table.render({
			elem : '#global-cookie',
			limit: 50,
			cols : [[{
				title : 'CookieName',
				width : 150,
				templet : '#cookie-name-tmpl'
			},{
				title : 'CookieTranslate the following text to english',
				templet : '#cookie-value-tmpl'
			},{
				title : 'Description',
				width : 250,
				templet : '#cookie-description-tmpl'
			},{
				title : 'Operation',
				width : 120,
				align : 'center',
				templet : '#common-operation'
			}]],
			data : data,
			text : {
				none : ' (none)Cookie'
			}
		})
	}

	function renderGlobalHeader(data){
		layui.table.render({
			elem : '#global-header',
			limit: 50,
			cols : [[{
				title : 'HeaderName',
				width : 150,
				templet : '#header-name-tmpl'
			},{
				title : 'headerTranslate the following text to english',
				minWidth : 400,
				templet : '#header-value-tmpl'
			},{
				title : 'Description',
				width : 250,
				templet : '#header-description-tmpl'
			},{
				title : 'Operation',
				width : 120,
				align : 'center',
				templet : '#common-operation'
			}]],
			data : data,
			text : {
				none : ' (none)Header'
			}
		})
	}
	renderGlobalParameter(getCellData({{d.cell.id}},$("#global-parameter").data('keys').split(",")));
	renderGlobalCookie(getCellData({{d.cell.id}},$("#global-cookie").data('keys').split(",")));
	renderGlobalHeader(getCellData({{d.cell.id}},$("#global-header").data('keys').split(",")));
</script>