<div class="layui-tab layui-tab-fixed layui-tab-brief">
  <ul class="layui-tab-title">
    <li class="layui-this">Configure KSpread...</li>
  </ul>
  <div class="layui-tab-content">
    <div class="layui-tab-item layui-show">
    	<form class="layui-form editor-form-node">
			<div class="layui-row">
				<div class="layui-col-md4">
					<div class="layui-form-item">
						<label class="layui-form-label">Question Name</label>
						<div class="layui-input-block">
							<input type="text" name="value" placeholder="Please enter the first alternative name" value="{{=d.value}}" autocomplete="off" class="layui-input">
						</div>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="layui-form-item">
						<label class="layui-form-label">Cycle Variable</label>
						<div class="layui-input-block">
							<input type="text" name="loopVariableName" placeholder="Please enter a loop variable" autocomplete="off" class="layui-input input-default" value="{{=d.data.object.loopVariableName}}">
						</div>
					</div>
				</div>
				<div class="layui-col-md4">
					<div class="layui-form-item">
						<label class="layui-form-label">Number of cycles</label>
						<div class="layui-input-block" codemirror="loopCount" placeholder="Enter the number of cycles" data-value="{{=d.data.object.loopCount}}"></div>
					</div>
				</div>
			</div>
			<table class="layui-table" id="spider-variable" data-cell="{{=d.cell.id}}" data-keys="variable-name,variable-value,variable-description"></table>
    		<div class="layui-form-item">
    			<div class="layui-input-inline">
	    			<button class="layui-btn table-row-add" type="button" for="spider-variable">Add a variable</button>
	    		</div>
	    	</div>
    	</form>
    </div>
  </div>
</div>

<script>
	$(function(){
		function renderSpiderVariable(data){
			layui.table.render({
				elem : '#spider-variable',
				limit: 50,
				cols : [[{
					title : '变量名',
					width : 150,
					templet : '#variable-name-tmpl'
				},{
					title : '变量值',
					minWidth : 400,
					templet : '#variable-value-tmpl'
				},{
					title : 'Description',
					width : 250,
					templet : '#variable-description-tmpl'
				},{
					title : 'Operation',
					width : 120,
					align : 'center',
					templet : '#common-operation'
				}]],
				data : data,
				text : {
					none : 'Variable not set'
				}
			})
		}
		renderSpiderVariable(getCellData({{d.cell.id}},$("#spider-variable").data('keys').split(",")));
	});
</script>